<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="local-Analyzers.MustBePartial" value="src/analyzers/SourceKit.Analyzers.MustBePartial/bin/Release"/>
        <add key="local-Analyzers.MustBePartial.Annotations" value="src/analyzers/SourceKit.Analyzers.MustBePartial.Annotations/bin/Release"/>
    </packageSources>
</configuration>