<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="local-Analyzers.Enumerable" value="src/analyzers/SourceKit.Analyzers.Enumerable/bin/Release"/>
        <add key="local-Analyzers.MustBePartial" value="src/analyzers/SourceKit.Analyzers.MustBePartial/bin/Release"/>
        <add key="local-Analyzers.MustBePartial.Annotations" value="src/analyzers/SourceKit.Analyzers.MustBePartial.Annotations/bin/Release"/>
        <add key="local-Generators.Builder" value="src/generators/SourceKit.Generators.Builder/bin/Release"/>
        <add key="local-Generators.Builder.Annotations" value="src/generators/SourceKit.Generators.Builder.Annotations/bin/Release"/>
        <add key="local-Analyzers.Nullable" value="src/analyzers/SourceKit.Analyzers.Nullable/bin/Release"/>
    </packageSources>
</configuration>