<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="local-MustBePartial" value="./src/analyzers/SourceKit.Analyzers.MustBePartial/bin/Debug"/>
        <add key="local-MustBePartial.Annotations" value="./src/analyzers/SourceKit.Analyzers.MustBePartial.Annotations/bin/Debug"/>
    </packageSources>
</configuration>