[*.cs]

dotnet_diagnostic.SK1000.severity = warning
dotnet_diagnostic.SK1200.severity = warning
dotnet_diagnostic.SK1201.severity = warning
dotnet_diagnostic.SK1301.severity = warning
dotnet_diagnostic.SK1300.severity = warning
dotnet_diagnostic.SK1500.severity = warning
dotnet_diagnostic.SK2000.severity = warning

